body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-image: url("../chicha7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}
html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}
h1 {
    font-size: 50px;
    font-family: Abril fatface, sans-serif;
    transform: translateY(-50%);
    margin-left: 30%;
    color:orange;
    animation: animate 1s linear forwards;
    
}
h1 span {
    text-align: center;
    animation: animate 1s linear forwards;
}
@keyframes animate {
    0%
    {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}
        
form button {
        width: 450px;
        max-width: 500px;
        height: 60px;
        font-weight: 700;
        font-size: 28px;
        background: white;
        border: rgba(48, 48, 48, 0.5) solid 1px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        color: #303030;
}
.formulaire {
    color:black;
}
.titre {
    z-index: 10;
    font-size: 20px;
    margin-left: 28%;
    opacity: 90%;
    width: 500px;
    border: 1px solid;
    border-radius: 8px;
    padding: 20px 50px 0 50px;
    background: burlywood;
}
input {
    border:groove;
}
.affichage {
    display:flex;
}
.container-btns {
    z-index: 10;
    margin-left:75%;
    position: absolute;
    
}
.btn-first {
    margin-top: 2%;
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    color: #f1f1f1;
    cursor: pointer;
}
.btn-first:nth-child(1){
    margin-right: 55%;
}
.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: #333;
}
.logo {
    position: absolute;
    right: 2.9%;
    top: 4%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.medias {
   
    size: 10px;
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    bottom: 5%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bulle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}
.logo-medias {
    width: 10px;
    height: 10px;
}
.adresse {
    text-align: center;
    color:white;
    font: bold;
    font-size: 20px;
}
#main {
    min-height:80%;
    position:relative;
    padding-bottom:100px;   /* Hauteur du pied de page */
 }
 #footer {
    display : table-row;
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:100px;   /* Hauteur du pied de page */
    background-color:black;
 }
 .ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  .ag-smoke-block {
    height: 100%;
    width: 100%;
    background-color: black;
    display:contents;
    overflow: hidden;
    position: relative;
  }
  
  .ag-smoke_img {
    width: 100%;
    height: 100%;
  
    z-index: 10;
    position: absolute;
    bottom: 4%;
  }
  .ag-smoke_img__left {
    left: 0;
  
    -webkit-animation: an-smoke-left 10s linear infinite;
    -moz-animation: an-smoke-left 10s linear infinite;
    -o-animation: an-smoke-left 10s linear infinite;
    animation: an-smoke-left 10s linear infinite;
  }
  .ag-smoke_img__right {
    right: 0;
  
    -webkit-animation: an-smoke-right 10s linear infinite;
    -moz-animation: an-smoke-right 10s linear infinite;
    -o-animation: an-smoke-right 10s linear infinite;
    animation: an-smoke-right 10s linear infinite;
  }
  
  @-webkit-keyframes an-smoke-left {
    0%, 100% {
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
    }
    25% {
      -webkit-transform: translate(-10%,0%);
      transform: translate(-10%, 0%);
    }
    50% {
      -webkit-transform: translate(-20%, 0%);
      transform: translate(-20%, 0%);
    }
    75% {
      -webkit-transform: translate(-10%, 0%);
      transform: translate(-10%, 0%);
    }
  }
  @-moz-keyframes an-smoke-left {
    0%, 100% {
      -moz-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
    }
    25% {
      -moz-transform: translate(-10%,0%);
      transform: translate(-10%, 0%);
    }
    50% {
      -moz-transform: translate(-20%, 0%);
      transform: translate(-20%, 0%);
    }
    75% {
      -moz-transform: translate(-10%, 0%);
      transform: translate(-10%, 0%);
    }
  }
  @-o-keyframes an-smoke-left {
    0%, 100% {
      -o-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
    }
    25% {
      -o-transform: translate(-10%,0%);
      transform: translate(-10%, 0%);
    }
    50% {
      -o-transform: translate(-20%, 0%);
      transform: translate(-20%, 0%);
    }
    75% {
      -o-transform: translate(-10%, 0%);
      transform: translate(-10%, 0%);
    }
  }
  @keyframes an-smoke-left {
    0%, 100% {
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
    }
    25% {
      -webkit-transform: translate(-10%, 0%);
      -moz-transform: translate(-10%, 0%);
      -o-transform: translate(-10%, 0%);
      transform: translate(-10%, 0%);
    }
    50% {
      -webkit-transform: translate(-20%, 0%);
      -moz-transform: translate(-20%, 0%);
      -o-transform: translate(-20%, 0%);
      transform: translate(-20%, 0%);
    }
    75% {
      -webkit-transform: translate(-10%, 0%);
      -moz-transform: translate(-10%, 0%);
      -o-transform: translate(-10%, 0%);
      transform: translate(-10%, 0%);
    }
  }
  
  @-webkit-keyframes an-smoke-right {
    0%, 100% {
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
    }
    25% {
      -webkit-transform: translate(10%,0%);
      transform: translate(10%, 0%);
    }
    50% {
      -webkit-transform: translate(20%, 0%);
      transform: translate(20%, 0%);
    }
    75% {
      -webkit-transform: translate(10%, 0%);
      transform: translate(10%, 0%);
    }
  }
  @-moz-keyframes an-smoke-right {
    0%, 100% {
      -moz-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
    }
    25% {
      -moz-transform: translate(10%,0%);
      transform: translate(10%, 0%);
    }
    50% {
      -moz-transform: translate(20%, 0%);
      transform: translate(20%, 0%);
    }
    75% {
      -moz-transform: translate(10%, 0%);
      transform: translate(10%, 0%);
    }
  }
  @-o-keyframes an-smoke-right {
    0%, 100% {
      -o-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
    }
    25% {
      -o-transform: translate(10%,0%);
      transform: translate(10%, 0%);
    }
    50% {
      -o-transform: translate(20%, 0%);
      transform: translate(20%, 0%);
    }
    75% {
      -o-transform: translate(10%, 0%);
      transform: translate(10%, 0%);
    }
  }
  @keyframes an-smoke-right {
    0%, 100% {
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
    }
    25% {
      -webkit-transform: translate(10%, 0%);
      -moz-transform: translate(10%, 0%);
      -o-transform: translate(10%, 0%);
      transform: translate(10%, 0%);
    }
    50% {
      -webkit-transform: translate(20%, 0%);
      -moz-transform: translate(20%, 0%);
      -o-transform: translate(20%, 0%);
      transform: translate(20%, 0%);
    }
    75% {
      -webkit-transform: translate(10%, 0%);
      -moz-transform: translate(10%, 0%);
      -o-transform: translate(10%, 0%);
      transform: translate(10%, 0%);
    }
  }
  
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  
  @media only screen and (max-width: 639px) {
  
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }
  video {
    height: 100%;
    opacity: 40%;
}
.video1 {
    
    position: absolute;
}              