body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-image: url('img/chicha3.png');
    background-repeat: no-repeat;
    position: relative;
    background-size:cover;
    overflow-x: hidden;
    
}
html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}
section {
    display:flex;
}
h1 {
    padding: 0;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color:orange;
    font-size: 50px;
    font-family: Abril fatface, sans-serif;
    letter-spacing: 0.2em;
}
h1 span {
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate {
    0%
    {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

.choixgouts {
    margin-top: 10%;
    width: 700px;
    display: flex;
    margin-left: 20%;
    opacity: 90%;
    background-color:burlywood;
    font-weight: bold;
    font-size: 20px;
    color:white;
    position: relative;
}
.Menthelogo {
    display:inline;
}
#Pomme {
    color: greenyellow;;
}
#Pasteque {
    color: red;
}
#Fraise {
    color: red;
}
#Framboise {
    color: pink;
}
#Mangue {
    color: orange;
}
#Melon {
    color: yellowgreen;
}
#Banane {
    color: yellow;
}
img {
    height: 5%;
}
.container-btns {
    margin-top: 7%;
    margin-right: 30px;
    position: absolute;
    
}
.btn-first {
    margin-left: 90%;
    margin-top: 2%;
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    color: #f1f1f1;
    cursor: pointer;
}
.btn-first:nth-child(1){
    margin-right: 55%;
}
.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: #333;
}
ol {
    text-align: left;
    font-size: 20px;
    color: black;
}
.adresse {
    
    text-align: center;
    color:white;
    font: bold;
    font-size: 20px;
}
#main {
    min-height:80%;
    position:relative;
    padding-bottom:100px;   /* Hauteur du pied de page */
 }
 #footer {
    display : table-row;
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:100px;   /* Hauteur du pied de page */
    background-color:black;
 }
 h2{
    color:blue;
    text-align: left;
    font-size: 35px;
 }
 p{
    color: black;
 }